<%inherit file="/layouts/base.html" />

<%def name="css_files()">
${ parent.css_files() }
## <link href="/static/css/index.css" rel="stylesheet">
</%def>

<%def name="title()">Smart Control Dashboard</%def>
<%def name="js_defer()">
${ parent.js_defer() }
<script type="text/javascript">
  % for device in appliances:
    $("#${device.id}on").click(function(){
      $.post("/switch/${device.id}/O");
    });
    $("#${device.id}off").click(function(){
      $.post("/switch/${device.id}/F");
    });
    $("#${device.id}auto").click(function(){
      $.post("/switch/${device.id}/A");
    });
  % endfor

  $("#sleep_mode_on").click(function(){
      $.post("/config", {"sleep_mode": "1"});
  });
  $("#sleep_mode_off").click(function(){
      $.post("/config", {"sleep_mode": "0"});
  });
</script>

</%def>

% for room in rooms:
<div class="row">
  <legend class="text-center">${room.name}</legend>
  % for device in room.devices.filter(type=1):
  <div class="col-lg-6">
    <h4>${device.name}
      <div class="pull-right">
        % if device.status.get(codename="run").value == "O":
        <span class="label label-success">On</span>
        % else:
        <span class="label label-danger">Off</span>
        % endif
      </div>
    </h4>
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <button id="${device.id}on" type="button" class="btn btn-success btn-lg">On</button>
      </div>
      <div class="btn-group">
        <button id="${device.id}auto" type="button" class="btn btn-primary btn-lg">Auto</button>
      </div>
      <div class="btn-group">
        <button id="${device.id}off" type="button" class="btn btn-danger btn-lg">Off</button>
      </div>
    </div>
  </div>
  % endfor
</div>
</br>
% endfor

<div class="row">
  <legend class="text-center">Config</legend>
  <div class="col-lg-6">
    <h4>Sleep Mode</h4>
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <button id="sleep_mode_on" type="button" class="btn btn-success btn-lg">On</button>
      </div>
      <div class="btn-group">
        <button id="sleep_mode_off" type="button" class="btn btn-danger btn-lg">Off</button>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <h4>Travel Mode</h4>
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <button id="travel_mode_on" type="button" class="btn btn-success btn-lg">On</button>
      </div>
      <div class="btn-group">
        <button id="travel_mode_off" type="button" class="btn btn-danger btn-lg">Off</button>
      </div>
    </div>
  </div>
</div>
</br>

<div class="row">
  <legend class="text-center">Info</legend>
  <div class="col-lg-6">
    <p>Sunrise: ${sunrise}</p>
    <p>Sunset: ${sunset}</p>
  </div>
</div>
